body
{
    background-color: #0d6efd;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.reg-form
{
    height: 30% ;
    margin-left: 10%;
    padding-top: 2%;
    padding-left: 2%;
    width: 30%;
    border-radius: 8%;
    margin-top: 5%;
    background-color: #3385ff;
}
h4
{
    color: #fff;
}
label
{
    color: #fff;
}
p
{
    color: #fff;
}
.submit
{
    align-items: center;
    width: 95%;
    font-weight: 500;
}
a
{
    color: #fff;
    text-decoration: none;
    font-weight: bold;  
}
footer
{
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
}
#contry-code
{
    height: 10%;
}
.logo
{
    max-width: 100%;
    height: auto;
}
.footer-font
{
    color: #0d6efd;
    text-align: center;
}