body
{
    background-color: #0d6efd;
}
.reg-form
{
    height: 45em;
    margin-left: 10%;
    padding-top: 2%;
    padding-left: 2%;
    width: 30%;
    border-radius: 8%;
    margin-top: 10%;
    background-color: #3385ff;
}
h4
{
    color: #fff;
}
label
{
    color: #fff;
}
p
{
    color: #fff;
}
.submit
{
    align-items: center;
}