body
{
    background-color: #3385ff;
    background: linear-gradient(to bottom,#3385ff, #2d2aeb);
    font-family: monospace;
    color: #ffffff;
    height: 100%;
    background-size: cover;
    height: 100vh;
}
.reg
{
    background-color: #3385ff;
    height: 80%;
    width: 65%;
    border-radius: 5%;
}
footer
{
    background-image: linear-gradient(to bottom,#3385ff, #2d2aeb);
}