body
{
    background: #fff;
    font-family: monospace;
    color: #ffffff;
    height: 100vh;
    display: block;
    background-color: #f0f0f0;
}
h1
{
    font-weight: 500;
}
a
{
    text-decoration: none;
    color: #ffffff;
}
.title
{
    color: #ffffff;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 5vh;
}
p
{
    padding-top: 0%;
}
h4
{
    font-weight: bold;
}
.content
{
    font-size: 2vh;
}
li
{
    margin-left: 37%;
}
.floating-search-bar 
{
    position: fixed;
    top: 11%;
    background-color: transparent;
    padding: 10px;
    width: 70%;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-inline .form-control
{
    width: 80%;
    margin-bottom: 10px;
}
.form-inline .btn 
{
    width: 80%;
}
.navbar-brand {
    color: #fff;
  }
  
  .navbar-nav .nav-link {
    color: #fff;
  }
  
  .navbar-nav .nav-link:active,
  .navbar-nav .nav-link:hover {
    color: #fff;
    background-color: #333;
  }
  
  .dropdown-menu {
    background-color: #fff;
  }
  
  .dropdown-item {
    color: #000;
  }
  
  .dropdown-item:hover {
    color: #fff;
    background-color: #333;
  }
  
.form-control 
{
    border-color: #fff;
    border-radius: 100px;
}
.carousel-inner {
    height: 400px;
  }
  .card-body
  {
    color: aqua;
  }
  .card
  {
    margin-left: 10px;
  }
  .footer
  {
    background-color: #ede9e9;
    color: #000;
  }
  .facebook{
    width: 12%;
    height: 12%;
}
.github{
    width: 29%;
    height: 29%;
}
.instagram{
    width: 14%;
    height: 14%;
}
.twitter{
    width: 17%;
    height: 17%;
    margin-left: 6%;
}